html{
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  background-color: rgba(140, 220, 90, 0.24);
}

a{
  text-decoration: none;
  color: #212121;

}

.menu{
  list-style: none;

}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h1{
  /* font-size:38px; */
  margin-bottom: 40px;

}

h2{
  /* font-size: 22px; */
  margin-bottom: 10px;
}

img{
  max-width: 100%;
}

.text-center{
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: auto;
}

header {
  background: url('img/zen.jpg');
  background-size: cover;
  color: black;
}

.top-nav{
  display: flex;
  justify-content: space-between;
  padding: 40px 0;

}
.logo{
  font-weight: bold;
  font-size: 28px;
}

ul {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  width: 40%;

}

.nav-control {
  color: #e9e9e9;
  color: white;
}

.nav-control:hover {
  color: pink;

}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  padding-top: 20px;
  padding-bottom: 84px;
  text-align: center;

}

.name {
  font-weight: 800px;
  font-size: 100px;
  text-align: center;
  vertical-align: middle;

}



h1 {
  /* font-size: 52px; */
  margin-top: 50px;
}

.tag-line{
  padding: 20px 0px;
  font-size: 40px;
  margin: 20px 0px 68px;
  text-align: center;
  vertical-align: middle;

}

.button {
  padding: 12px 40px;
  margin: 0px 10px;
  background white;
  font-size: 25px;
  border: 1px solid #212121;
  text-align: center;

}

.button:hover {
  background: #212121;
  color: pink;
  text-decoration: none;
  text-align: center;

}

.button-white {
  margin: 0 auto;
  border: 1px solid white;
  color: white !important;
  text-align: center;
}

.button-white:hover {
  color: pink !important;
  background: #212121;
  text-decoration: none;
  text-align: center;
}

.featured-section {
  padding: 30px 20px;
  background-color: rgba(140, 220, 90, 0.24);
  background-size: cover;
}

.portfolio {
  padding: 30px 20px;
  background-color: #A9A9A9;
  background-size: cover;
}

.card{
  margin-left: 90px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgba(140, 220, 90, 0.24);


}

.btn{
  padding: 10px 10px;
  margin-top: 10px;

}

.section-description {
  padding: 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 26px;
}

.portfolio-title {
  padding: 40px 20px;
  font-size: 40px;
  text-align: center;
}


.button-container{
  margin: 80px 0;

}



footer {
  background: #535353;
  color: white;
  padding: 40px 0;

}

.footer-content {
  display: flex;
  justify-content: space-between;

}

.fa{
  color: pink !important;

}

.follow-me {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  list-style: none;

}

.made-with{
  font-weight: bold;
  font-size: 20px;
}

.contact {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  width: 40%;
}

.contact:hover{
  background: black;
  height: 60px;
  width: 60px;
  text-decoration: none;
}
